.header {
  height: 20vh;
  background: linear-gradient(60deg, #283048, #859398);
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
  border-bottom: 5px solid white;
}

.logoBox {
  margin-left: 1rem;
  width: 9.5rem;
  height: 8rem;
}

.logo {
  width: 100%;
  height: 100%;
}

.headerText {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-5.25rem);
}

.title {
  margin-bottom: 5px;
}
.date {
  margin-top: 5px;
}
